body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.box2 {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.image-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}
.image-container img {
    width: 100%;
    height: auto;
}
.overlay-text {
    position: absolute;
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: white; 
    padding: 2px;
    border: 1px solid #000000;

}
@media (max-width: 800px) {
    .overlay-text {
        font-size: 0.8em;
        border: 1px solid #000000;
    }
}
input[type=select] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}
.form-group {
    margin-bottom: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
